
#ht {
    margin-left: 100px;
    margin-top: 30px;
    background:  #0a154a;
    border: 7px solid gray;
    border-radius: 7px;
}

.row.nav {
    background: #7180bd;
}

.row.nav a {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 8px;
}

col.topnav-left.col-1 {
    vertical-align: middle;
}

.col.topnav-right.col-11 {
    text-align: right;
    vertical-align: middle;
}

.col.add.col-11 {
    margin-top: 10px;
    border-radius: 3px;
    padding: 8px 0;
    text-align: center;
    background:     #7180bd;
}
.col.le.col-1 button{
    text-align: left;
    background: #7180bd;
    font-size: 30px;
    opacity: 0.5;
    border-radius: 5px; 
}
.col.ct.col-1 button {
    text-align: right;
    background: #fff;
    font-size: 30px;
    opacity: 0.5;
    border-radius: 5px; 
}
.col.le.col-1 {
    vertical-align: middle;
}
.col.rt.col-10 {
    vertical-align: middle;
}
.col.ct.col-1 {
    vertical-align: middle;
}
.col.rt.col-10 input {
    text-align: center;
    font-size: 30px;
}

.title {
    color: #fff;
    width: 300px;
    text-align: left;
    font-size: 18px;
    background: #5e7ae9;
    border-radius: 3px;
    margin-top: 10px;
    text-align: center;
}
.title span {
    letter-spacing: 1px;
}

.formcol {
    background: #6c7088;
    padding: 3px 0;
    border: 1px solid gray;
    border-radius: 3px;
    margin-top: 5px;
}