<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="root">
        <form @submit.prevent="add_user()">
            用户名
            <input type="text" v-model="new_user.username">
            <br>年龄
            <input type="text" v-model="new_user.age">
            <br>
            <button type="submit">点击</button>
        </form>
        <div v-for="(user,i) in user_list">
            我是{{user.username}},今年{{user.age}}岁
            <button @click="del(i)">删除</button>
            <button @click="updata(i)">更新</button>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
    <script src="vue.js"></script>
</body>

</html>