.col.info.col-12 {
    background: #edf2fc;
}
.col.info.col-12 input {
    display: inline-block;
    padding: 3px 15px;
    vertical-align: middle;
    border-radius: 10px;
    background: #f7f7f7;
}
.col.info.col-12 textarea {
    vertical-align: middle;
    border-radius: 20px;
    background: #f7f7f7;
    padding: 5px;
}
.col.info.col-12 a{
    font-size: 50px;
    letter-spacing: 5px;
    padding: 20px;
    display: inline-block;
    color: #d3d3d3;
    font-weight: bold;
}

.col.info.col-12 h4{
    display: inline-block;
}

.col.info.col-12 button{
    background:#fff;
    color:#000000;
    border-radius: 5px;
    box-shadow: 5px,5px,0,pink;
}
