* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.warp {
    max-width: 500px;
    margin: 0 auto;

}
.nav {
    color: black;
    padding: 20px;
    text-align: center;
}

.nav h1 {
     font-size: 38px;
     margin: 0;
     letter-spacing: 7px;
     font-weight: bold;
     color: black;
} 
.warp strong {
    font-size: 23px;
    letter-spacing: 4px;
    font-weight: bold;
    color: #d9ddca;
}
input {
    width: 75%;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    padding: 15px 5px;
    font-size: 15px;
}

#search_form button {
    padding: 15px 7px;
    background: #fff;
    border-radius: 7px;
    font-weight: bold;
}

.warp.toggle span {
    display: none;
}
.warp.toggle :hover span {
    font-size: 23px;
    vertical-align: middle;
    display: inline-block;
}

