.nav {
    background:#3e3737;
}
.nav a {
    color: #fff;
    font-size:18px;  
}
.nav .lf {
    vertical-align: middle;
    text-align: left;
}
.nav .lr {
    text-align: right;
    vertical-align: middle;
}
.nav .ct {
    vertical-align: middle;
    text-align: center;
}
.nav .ct a {
    padding: 0 30px;
}
.nav .lr a {
    font-size: 12px;
    padding-left:5px;
}
.content h1 {
    font-size:2em;
    font-weight: bold; 
}
.subnav {
    background: #929292;
    padding: 12px 0;
}
.subnav a {
    color: #fff;
    font-size: 20px;
    padding-right: 65px;
}
.maincontent {
    border-bottom: 1px solid #929292;
    margin-bottom: 30px;
}
.maincontent .title {
    padding: 10px 10px;
}
.maincontent .title span {
    color: #333;
    font-weight: bold;
}
.footer a {
      display: block;
      font-size: 12px;
      padding: 15px 0;
}
.footer span {
    display: inline-block;
    padding: 10px 0;
}
.footer .col.col-4 {
    text-align: right;
}
.footer .col.col-4 a {
    padding: 20px 0;
}