.col.nav.col-12 {
    background: #5e7ae9;
}
.col.nav.col-12 a {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 8px;
}
#article_form {
    background: #0a154a;
    vertical-align: middle;
}
.col.info.col-12 input {
    vertical-align: middle;
    border-radius: 10px;
    background: #f8dadc
}
.col.info.col-12 textarea {
    vertical-align: middle;
    background: #fff9f9;
    border-radius: 4px;
}

.col.info.col-12 h4{
    display: inline-block;
    color: #1d22b9;
}

#article_form button{
    background:#fff;
    padding:7px 7px; 
    color:#000000;
    border-radius: 5px;
}
