<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        姓<input v-model="fistName">
        名<input v-model="lastName">
        <div>{{fullName}}</div>
    </div>
    <script>
        new Vue({
            el:'#app',
            data:{
                fistName:'',
                lastName:''
            },
            computed:{
                fullName:function(){
                 return   this.fistName+this.lastName
                }
            }
        })
    </script>
</body>
</html>