.header {
    background: #fff;
}
.header a {
    color:#333;  
    font-size: 14px;
}

.header .row.bai {
    padding:  10px 5px;
}
.header .left a img{
    text-align: left;
    display: inline-block;
    
}
.header .left a {
   
}
.header .center {
    text-align: center;
}
.header .right {
    text-align: right;
}
.nav {
    background: #fff;
    padding: 10px 5px;
}
.nav .col.col-12 a{
   color: #333;
   padding-right: 45px;
}
