
#ht {
    margin-left: 100px;
    margin-top: 30px;
    background:  #0a154a;
    border: 7px solid gray;
    border-radius: 7px;
}

.row.nav {
    background: #7180bd;
}

.row.nav a {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 8px;
}
.col.col-11 {
    text-align: right;
}
.col.add.col-11 {
    margin-top: 10px;
    border-radius: 3px;
    padding: 10px 0;
    text-align: center;
    background:     #7180bd;
}
.col.le.col-1 button{
    text-align: left;
    background: #7180bd;
    font-size: 30px;
}
.col.le.col-1 {
    vertical-align: middle;
}
.col.rt.col-10 {
    vertical-align: middle;
}
.col.ct.col-1 {
    vertical-align: middle;
}
.col.rt.col-10 input {
text-align: center;
    font-size: 38px;
}

.col.left.col-11 {
    background: #fff;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 3px;
    margin-bottom: 2px;
}
.col.left.col-11 button {
    font-size: 30px;
}

.col.right.col-11 {
    background: #fff;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 3px;
    margin-bottom: 3px;
}
.col.right.col-11 button {
    font-size: 30px;
}
.col.start.col-11 {
    background:#5e6890;
    margin-top: 3px;
    padding: 10px 0;
    border-radius: 3px;
    margin-bottom: 3px;
}
.col.start-2.col-11 {
    background:#769477;
    margin-top: 3px;
    padding: 10px 0;
    border-radius: 3px;
    margin-bottom: 3px;
}
.col.start-3.col-11 {
    background:#272c42;
    margin-top: 3px;
    padding: 10px 0;
    border-radius: 3px;
    margin-bottom: 3px;
}
.title {
    color: #fff;
    width: 300px;
    text-align: left;
    font-size: 20px;
    background: #5e7ae9;
    border-radius: 3px;
}
.title p {
    text-align: center;
    letter-spacing: 1px;
}

